---
layout: default
title: All pages
---
{% for post in paginator.posts %}
<article class="post">
  <header>
    <h1>
      <a href="/scala-playground/{{post.url}}">{{post.title}}</a>
      - tested by
      <a href="https://github.com/mattdenner/scala-playground/blob/master/src/test/scala/com/denner/{{post.tested_by}}.scala">{{post.tested_by}}</a>
    </h1>
  </header>
  <section>
    {{post.content}}
  </section>
</article>
{% endfor %}

<style type="text/css">
  #pagination ul, #pagination ul li { list-style: none; margin: 0, padding: 0; }
  #pagination ul li { display: inline-block; margin: 0 0.25em; }
</style>
<nav id="pagination">
  <ul>
{% if paginator.previous_page %}<li><a href="/scala-playground/{% if paginator.previous_page > 1 %}page{{paginator.previous_page}}{% endif %}">&lt;&lt;</a></li>{% endif %}
{% for count in (2..paginator.total_pages) %}<li><a href="/scala-playground/page{{count}}">{{count}}</a></li>{% endfor %}
{% if paginator.next_page %}<li><a href="/scala-playground/page{{paginator.next_page}}">&gt;&gt;</a></li>{% endif %}
  </ul>
</nav>
