<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Scala Playground - {{page.title}}</title>
    <style type="text/css">
      body { color: #222; background-color: #fff; font-family: Arial, Helvetica, sans-serif; font-size: 0.8em; }
      body > header { border-bottom: 2px solid #222; }
      body > footer { border-top: 1px solid #222; font-size: 0.9em; }
    </style>
  </head>
  <body>
    <header>
      <h1>Scala Playground</h1>
      <p>
        Very simply this is a playground for me to enhance my <a href="http://www.scala-lang.org/">Scala</a> understanding.  You can
        find the source code on <a href="https://github.com/mattdenner/scala-playground/">github</a>.
      </p>
    </header>
    <article>
      <header>
        <h1>{{page.title}}</h1>
      </header>
      <section>
        {{content}}
      </section>
    </article>
    <footer>
      <p>
        All content here is free!  A link here would be appreciated if it's useful.  Thanks, Matthew.
      </p>
    </footer>
  </body>
</html>
